body.arabic.pri {
    direction: rtl !important;
}
.arabic {
   .dashboard-menu .crt-navb {
    left:4%;
    right:auto;
}
.dash-common .crt-list ul li .widg-icon {
    margin-left:6px;
}
.apz-nav-horizontal.pnb-head .header .crt-navb li.mobile-icon-size.var5 {
    padding-left:32px;
    padding-right:0px;
}
.apz-nav-horizontal.pnb-head .header .crt-navb li.mobile-icon-size.var7 {
    padding-left:32px;
    padding-right:0px;
}
.apz-nav-horizontal.pnb-head .header .crt-navb li.mobile-icon-size.var5 .ett-badg.inf {
    right: 13px;
}
.dashboard_screen .paright > div .boxshadow .crt-form  .rht.scb-col30 {
    text-align:left;
}
.dash-common .srb.pri.var1 {
    float:left;
}
.product-first.product .product-logo .language li .etb-slct.ett-slct .sub-elt {
    text-align:left;
}
.product-first.product .product-logo .language > li.lft {
    text-align:right;
}
.product-first.product .crt-list.grid-3 ul li .list-title {
    text-align:right;
}
.product-first.product .crt-list.grid-3 ul li .product-feature.pb32 {
    text-align:right;
}
.product-first.product .crt-list.grid-3 ul li .gif-img img {
    transform:scaleX(-1);
}
.product-first.product .crt-list.grid-3 ul li .gif-img > span.rht {
    text-align:left;
}
.product-first.product .crt-list.grid-3 ul li .gif-img img {
    transform: scaleX(-1);
} 
.product-second.product .crt-list {
        margin-right: 6%;
        margin-left:0;
}
.common-btn .review-btn-block .ett-bttn {
    margin-right:0;
    margin-left:2rem;
}
.modal.residential-modal .searchbox .ett-bttn.med {
    margin-left:0px;
}
.intl-tel-input .selected-flag .iti-flag {
    margin-right:29px;
}
.login-body.var1 .login-left .input-field.info-field .ett-para.pri {
    padding-right:2.5rem;
}
.login-otp .otp-block .icon-eye {
    left: 0.75rem;
    right: auto;
}
.crt-navb.communication-icon .phoneicon {
    padding-left: 43px;
    padding-right: 0;
}
.popover.communicationpopup.bottom {
        left: -106px !important;
}
.modal.faqmodel .faqqans .crt-list .header > span.rht{
   text-align:left; 
}
.adhar-modal.modal .crt-form.pri .scb-col50, .app-type .crt-form.pri .scb-col50 {
    margin-right:0%;
    margin-left:4%;
}
.kyc-stage1 > .gcb-col12 > .grb > .gcb-col12 > .grb.upload-box {
    display:flex;
}
.upload-box .gcb-col4 {
    margin-right: 0;
    margin-left: 1.8rem;
}
.login-otp .otp-block .ett-inpt.pri.mask {
    text-align:right;
    padding-right:0;
}
.upload-box .gcb-col8 .crt-form.hor span.rht.scb-col25 {
    text-align:left;
}
.adhar-modal.modal .crt-form.pri .scb-col50:last-child, .arabic .app-type .crt-form.pri .scb-col50:last-child {
    margin-left:0px;
}
.upload-box .gcb-col8 .crt-list > ul > li .upload-info .scb-col10.rht {
    text-align:left;
}
.single-col .crt-form.pri .elements-float .input-field {
    float:right;
    margin-right: 0;
    margin-left: 2rem;
}
.input-verify .verify {
    right: auto;
    left: 1rem;
}
.ett-inpt.pri {
    text-align:right;
}
.ecn > .cir .ett-bttn {
    right:auto;
    left:1px;
}
.login-body.var1 .login-left .input-field .eoc.bg-var1 .intl-tel-input.allow-dropdown .ett-inpt.pri {
    text-align:left;
}
.names-list.crt-list ul li {
    margin-right:0rem;
    margin-left:1.5rem;
}
.intl-tel-input.allow-dropdown {
    text-align:left;
}
.intl-tel-input.allow-dropdown .ett-inpt.pri{
    text-align:left
}
.nominee-detls .crt-list.pri li {
    display:flex;
}
.toggle-question .ett-para.pri {
    padding-left: 0;
    padding-right: 3.3rem;
}
.kyc-stage1 .upload-box {
    display:flex;
    > .plt-simp {
        display:none;
    }
}
.pending-app.kyc-mode .box-shadow-common {
        margin-right: 0;
        margin-left: 0;
        &:last-child {
            margin-right: 2.4rem;
        }
}
.kyc-mode.pending-app > .gcb-col12 {
    display:flex;
    flex-wrap:wrap;
}
.ett-rdio.hor.pri > span {
    margin-right:0;
    margin-left:2em;
}
.error-block .err-msg {
    text-align:right;
}
.ett-para.icl > svg {
    margin-right:0px;
    margin-left:3px;
}
.pending-app.kyc-mode .box-shadow-common .pendinhead .scb-col15 {
    right:auto;
    left:2rem;
}
.pending-app.kyc-mode .box-shadow-common .crt-list > ul li p.ett-para.pri svg {
    margin-right: 0;
    margin-left: 2rem;
    transform: scaleX(-1);
}
.pending-app.kyc-mode .box-shadow-common .crt-navb.pri > ul li.rht {
    text-align:left;
}
.pending-app.kyc-mode .box-shadow-common .crt-navb.pri .ett-bttn.tsp svg {
    margin-right:19px;
    transform: scaleX(-1);
}
.full-drop .input-as-dropdownfull .edit-icon {
        right: auto;
    left: 62px;
}
.full-drop .input-as-dropdownfull .input-icon {
        right: auto;
    left: 34px;
}
.review.document .crt-list ul li {
    float:right;
}
.ecn > .cir > .ett-inpt.pri {
    padding-right: 1rem;
    padding-left: 3rem;
}
.input-field.radio-field .ett-rdio.hor.pri input[type=radio] + label:before {
    margin-right:0;
    margin-left:0.44rem;
}
.input-verify .verify .tick {
    text-align:left;
}
.ett-rdio.hor.pri input[type=radio] + label:before {
    margin-right:0;
    margin-left:0.414rem;
}
.full-drop-dtls.nominee-detls.var4 .crt-list.nominne-list-body > ul li {
    display:flex;
}
.product-feature.width50 .scb-col100 .ett-para.pri {
    display:flex;
    svg {
        transform:scaleX(-1);
    }
}
.ett-chek.hor.pri > span {
    margin:0px;
}
.ett-chek.hor.pri input[type=checkbox] + label::before {
    margin-right:0px;
    margin-left:0.714em;
}
.common-header > li.rht {
    text-align:left;
}
.adhar-image .crt-list ul {
    display:flex;
}
.pnt-sdbr.lft.apz-nav-open {
    right:0px;
    left:auto;
}
.apz-nav-vertical.apz-nav-open .pst-simp.tsp .crt-navb.pb0.pri .lft.main-icon {
  text-align:right;
}
.pnt-sdbr.lft.apz-nav-open .crt-list .ett-bttn + .ett-para {
    padding-left: 0em;
    padding-right: 1em;
}
.apz-nav-vertical.apz-nav-open .pst-simp.tsp .crt-list.tsp li > span {
  display:flex;
  align-items:center;
}
.product-first.product .crt-list.grid-3 {
  margin-left:0%;
  margin-right:4%;
}
.add-tobtn .scb-col20 svg {
    margin-left:0px;
    margin-right:24px;
}
.customSlider.ui-widget .ui-widget-header.ui-slider-range-min {
left: 0px;
position: absolute;
top: 0px;
}
.custom-tabel .table-header ul li {
    display:flex;
}
.custom-tabel .ett-labl {
        margin-right: 0;
    margin-left: 8px;
}
.view-search li > span {
  margin-left: 14px;
}
.kyc-stage1 .upload-box .input-field {
    display:none;
}
.modal.faqmodel .modal-window .modal-cnt .searchbox svg.icon-search {
    right: auto;
    left: 2.75em;
}
.kyc-stage1.upload-doc .upload-box.var1 .crt-form.hor .input-field.input-as-dropdown {
    display:block !important;
}
.display-mainsec .card-display .card-name > span {
    display:flex;
    justify-content:space-between;
}
.card-modal .ett-bttn.sec {
    margin-left: 0px;
    margin-right: 10px;
}
.modal-cnt .crt-form.form-top .display-mainsec .card-display.backoffice-img {
    text-align:right;
}
.ett-slct.pri.is-open.drdn-open.drdn-extspan.language {
        left: 125px !important;
}
.modalvalue.modal-compare .modal-header h1 {
    text-align:right;
}
.modal-dialog h1 {
    text-align:right;
}
.login-pop .crt-navb .scb-col80 {
    text-align:right;
}
.login-pop .crt-navb .scb-col20 {
    text-align:left;
}
.login-pop.communicationpopup.popover {
    left:-15px !important;
}
.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel] {
    padding-left:32px !important;
}
.tax-details-modal .ett-rdio.hor.pri > span {
    margin-left: 0;
    margin-right:2em;
}
.full-drop.active .input-as-dropdownfull .ett-hed3 {
    text-align:right;
}
.common-btn .review-btn-block li {
    text-align:right;
}
.modal.residential-modal .searchbox .ett-para {
    text-align:right;
}
.modal.residential-modal .modal-content .crt-list {
    text-align:right;
}
.modal.faqmodel .modal-dialog .modal-content .searchbox svg.icon-search {
    right:auto;
    left:50px;
}
.modal.faqmodel .crt-list li .ett-para {
    text-align: right;
    margin-right: 12px;
}
/*Nominee Screen*/
.modalvalue .input-field {
    width: 45%;
}
.deposit-link li {
    margin-top: 16px;
    display: block;
    .ett-hypl {
        float:left;
    }
}
.modal-know .srb.pri.badge {
    text-align:right;
}
}

