@media (min-width: 775px) and (max-width: 1023px) {
    .usr-atdnc > .srb.pri > span {
        display: flex;
        width: 75%;
    }
}

@media (min-width: 599px) and (max-width: 1023px) {
    .ett-icon.px16,
    .loan-details .pst-simp.tsp > .crt-list .scb-col100 > span .ett-icon.px18,
    .login-main .otp-block .icon-eye svg,
    .login-main .otp-block.inpt-fld .icon-eye svg {
        width: 24px;
        height: 24px;
    }
    .ett-icon.px24,
    .info-popovr.popover .head.crt-navb .ett-icon.icon-close-gk {
        width: 28px;
        height: 28px;
        
    }
    .ett-icon.px20 {
        width: 32px;
        height: 32px;
    }
    .ett-bttn.tsp > .ett-icon {
        width: 20px;
        height: 20px;
    }
    .pb1, 
    .pst-simp.pa0 > .pb1,
    .loan-details.cnf-memb-details .crt-form.ter,
    .brd-btm {
        padding-bottom: var(--pb-24);
    }
    .pd-scr,
    .pst-simp.pa0 > .pd-scr {
        padding: 24px !important;
    }
    .pd-blc {
        padding-block: 24px !important;
    }
    .mg-inl {
        margin-inline: 24px!important;
    }
    .mg-blc {
        margin-block: 24px !important;
    }
    .ett-para.fs10 {
        font-size: var(--font-12);
    }
    .ett-para.fs11 {
        font-size: var(--font-12);
    }
    .ett-para.fs12 {
        font-size: var(--font-14);
    }
    .ett-para.fs13 {
        font-size: var(--font-16);
    }
    .ett-para.fs14 {
        font-size: var(--font-18);
    }
    .ett-para.fs15 {
        font-size: var(--font-18);
    }
    .ett-para.fs16 {
        font-size: 20px;
    }
    .ett-badg.inf {
        padding-block: 8px;
    }
    .apz-nav-horizontal.pnb-head .colcenter.header.dashboard-header-main {
        padding: 14px 24px !important;
    }
    .loan-type .crt-list .loan-group-details > span > .srb.pri > span .ett-para.icl > svg,
    .inpt-fld .srb.pri svg,
    .trgt-list .ett-icon.px16 {
        width: 16px;
        height: 16px;
    }
    .memb-info .crt-navb > ul .ett-bttn.tsp > .ett-icon,
    .kendra-mem-grp .crt-list > ul.tsp > li .ett-para.inf.icl > svg.ett-icon,
    .completed-tabs > .edit-details .ett-bttn.tsp > .ett-icon {
        width: 20px;
        height: 20px;
    }
    .loan-type .mem-search .ecn > .icr > svg,
    .customer-loan .crt-list > ul.tsp > li .pro-details > span:last-child > span:last-child .ett-icon.pri,
    .search-main .ecn > .icr > svg,
    .fab-kendra .search-kendra .ecn > .icr > svg,
    .kendra-bm-dash .crt-navb .ett-bttn.tsp.suc > .ett-icon,
    .sel-alloc-typ .crt-form .ecn > .icl > svg {
        width: 24px;
    }
    .dashboard-header-main .crt-navb .var3 svg,
    .drop-area .close-tab-btn .icon-close-gk,
    .new-loan-add .scb-col30 .ett-para.icr > svg,
    .klst > ul.tsp > li > span > .kndr-loc-hdr .ett-icon,
    .klst .subdivdisplay > ul > li .ett-icon,
    .amt-progress .srb.sec > span > ul .ett-icon.pri,
    .next-tabs .pst-simp.pa0 > .crt-form.sec .ett-badg.sqr,
    .dashboard-footer-main svg.ett-icon,
    .fab-days .crt-list.loan-application-section > ul.tsp > li > span.rht > svg,
    .kendra-mem-grp .crt-list > ul.tsp > li .ett-icon,
    .mdl-purpose .var1 > div:last-child .crt-list > ul.tsp > li > span .ett-chek.hor.pri input[type=checkbox] + label::before, 
    .inc-kyc-det .ett-chek.hor.pri input[type=checkbox] + label::before, 
    .rdo-inpt .ett-chek.hor.pri input[type=checkbox] + label::before,
    .grp-head .ett-icon.pri,
    .coll-depo .ett-bttn.tsp > .ett-icon {
        width: 28px;
        height: 28px;
    }
    .loan-act-btn .dash-subtitle-close .ett-bttn.pri > .ett-icon,
    .nla-ref-header.grad-bg .ett-icon.pri,
    .pnt-head.pri svg,
    .pnt-head.pri .ett-imge,
    .pnt-head.pri .dashboard-header-main .crt-navb .var2 svg,
    .dash-widg-main .dash-rates.active .question > li:last-child .ett-icon.pri,
    .icon-more_vert.px24,
    .nla-ref-header .ett-icon.pri {
        width: 16px;
        height: 16px;
    }
    .loan-act-btn .dash-subtitle .ett-bttn.pri > .ett-icon {
        width: 40px;
        height: 40px;
    }
    .customer-data .pro-details svg,
    .sidebar-main .crt-navb .user-profile p.ett-para.pri, 
    .user-profile .userp,
    .customer-data .pro-details.srb.pri > span > ul.srb.eoc,
    .quick-act .crt-list > ul.tsp > li .srb.pri > span > .ett-icon {
        width: 48px;
        height: 48px;
    }
    .lndng-cntnt .splash-icn .ett-icon.pri {
        width: 148px;
        height: 148px;
    }
    
    .login-bg .login-title .ett-hed1.pri {
        font-size: 44px;
    }
    .loan-succ-scrn .approved-memb .crt-navb .ett-hed5.pri,
    .approved-memb .crt-navb .ett-hed3.pri,
    .fab-days .crt-form .ett-hed3.sec,
    .take-new-loan .ett-hed3.sec,
    .coll-depo .ett-hed4.pri {
        font-size: 36px;
    }
    .new-loan-add .scb-col70 > .srb.pri .ett-hed3.sec,
    .fab-kendra .fab-days .crt-form .ett-labl.sec,
    .kendra-bm-dash .heading.crt-navb .ett-hed4.pri,
    .approved-memb .crt-navb .ett-hed5.pri,
    .fab-days .crt-list .ett-hed3.sec,
    .kndra-hdng.take-new-loan .ett-hed3.sec,
    .csh-depo-succ.loan-succ-scrn.loan-details .memb-info .pst-simp.tsp > .crt-form .scb-col100 .to-name .ett-para.pri.fs14 {
        font-size: var(--font-32);
    }
    .grp-head .ett-hed3.sec,
    .mrk-clcn-ftr.emg-loan-footer .ett-hed6.pri {
        // font-size: 28px;     //client requirement for footer amount
        font-size: 20px;
    }
    .loan-app-heading .crt-navb .ett-hed6.pri,
    .usr-bio.srb.pri .srb.pri > span .ett-hed4.pri,
    .quick-act .crt-navb .ett-hed4.pri,
    .inc-kyc-det .ett-hed4.pri,
    .stps-num .crt-list.suc .suc-msg > span .ett-para.pri.fs12 {
        font-size: var(--font-24);
    }
    .mdl-purpose .modal-dialog h1,
    .modal-dialog h1 {
        font-size: var(--font-24) !important;
    }
    .dash-widg-main .active .ett-hed4.pri,
    .loan-act-mdl-main .modal-content .crt-list .ett-para.pri.fs14,
    .nla-ref-header .heading > span > ul .ett-para.pri,
    .loan-type .crt-list .loan-group-details > span > .srb.pri > span .ett-hypl.pri,
    .customer-data .pro-details .ett-hed3.sec,
    .pro-details .loan .inline-text > ul .ett-para.pri,
    .mdl-cent .crt-form > .mob-num .ett-para.pri,
    .loan-details .heading .ett-hed6.sec,
    .loan-details .ett-hed6.sec,
    .k-alloc-hist .customer-data .pro-details .ett-hed3.sec,
    .mmbr .mmbr-name > .ett-para,
    .list .rdo-inpt .ett-para,
    .ins-clm-det .loan > .ett-para.var1,
    .stps-num .crt-list > ul.tsp > li .ett-badg.sqr,
    .stps-num .crt-list.suc > ul.tsp > li > span .ett-bttn.tsp,
    .csh-depo-succ.loan-details .pst-simp.tsp > .crt-form .scb-col100 > span > span:first-child .ett-para.pri {
        font-size: 20px;
    }
    .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li > span .ett-para.station,
    .new-loan-add .scb-col30 .ett-para.pri,
    .new-loan-add .scb-col70 > .srb.pri .var1 .ett-para.pri,
    .take-new-loan .loan-app .ett-bttn.tsp.suc,
    .loan-type .pst-tabs.hor.pri > ul.tabs > li,
    .nla-ref-header .steps-head .ett-hed6.inf,
    .lndng-pge .crt-form > .srb.pri > span .ett-para.pri,
    .ald-lists-head.crt-list > ul.tsp > li .ett-para.pri,
    .memb-dtls .loan-type .pst-tabs.hor.pri > ul.tabs > li,
    .login-bg .crt-form .first-login .ett-para.pri,
    .login-bg .crt-form .first-login .ett-bttn.tsp,
    .dashboard-footer-main .ett-para.pri,
    .frq-srch .loan-app-heading .crt-navb .ett-hed6.pri,
    .ln-dis-lst.customer-loan .crt-list > ul.tsp > li > span .prc-grp .ett-para.pri,
    .customer-data .pro-details .loan > ul:first-child .ett-para.pri,
    .kendra-mem-grp .crt-list > ul.tsp > li .ett-para.sec,
    .mmbr-dth-drp .ett-bttn.tsp,
    .clm-dtls .head .ett-bttn.tsp,
    .loan-application-section .Answer .ett-hypl.pri {
        font-size: var(--font-18);
    }
    .mdl-purpose .modal-dialog .modal-content .crt-form .otp-num .ett-labl.pri,
    .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li > span .ett-para.err {
        font-size: var(--font-18) !important;
    }
    .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li > span .ett-para.date,
    .dash-widg-main .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li .map-app .ett-para.pri,
    .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li .par-section .ett-para,
    .dash-widg-main .dash-rates .widget-panel .crt-list.loan-application-section ul > li > span:last-child .loan > .ett-para.pri,
    .dash-rates.active .widget-panel .crt-navb.pri.act-view-more .ett-para.pri,
    .loan-act-btn .dash-subtitle button.ett-bttn.pri,
    .dash-statics.loan-type .tabcontent ul.tsp > li > span:first-child .ett-para.pri,
    .dash-statics.loan-type .tabcontent .crt-navb .ett-para.pri,
    .new-loan-add .scb-col70 > .srb.pri .var2 .ett-para.pri,
    .new-loan-add .scb-col70 > .srb.pri .ett-bttn.pri,
    .take-new-loan .loan-app .ett-para.pri,
    .loan-type .crt-list .loan-group-details > span > .srb.pri .rht > .ett-para.pri,
    .loan-type .crt-list .loan-group-details > span > .srb.pri .rht > .ett-para.sec,
    .nla-ref-header .heading > span > ul .ett-para.ter,
    .customer-loan .crt-list > ul.tsp > li .pro-details > span:last-child > span:nth-child(2) .ett-para.pri,
    .ald-lists-data.crt-list > ul.tsp > li .ett-para.pri,
    .ald-lists-data.crt-list > ul.tsp > li > span:not(:first-child) .ett-para.pri,
    .customer-loan .crt-list > ul.tsp > li > span .prc-grp .ett-para.pri,
    .mdl-cent .mdl-btn .ett-bttn,
    .usr-bio.srb.pri .srb.pri > span .ett-para.pri.wht,
    .memb-full-data .crt-form > .erng-dtls > span > .var1 .ett-para,
    .memb-full-data .incm-asmnt.crt-form .ett-para,
    .loan-details .ett-badg.sqr,
    .loan-details .crt-form.ter .ett-hed6.sec,
    .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span > span:last-child .ett-para.pri,
    .next-tabs .pst-simp.pa0 > .crt-form.sec .ett-badg.sqr,
    .kendra-bm-dash .crt-navb .ett-bttn.tsp.suc, 
    .kendra-bm-dash .crt-list .ett-bttn.tsp.suc,
    .completed-tabs > .edit-details .ett-bttn.tsp,
    .loan-succ-scrn.loan-details .memb-info .pst-simp.tsp > .crt-form .scb-col100 > span > span:last-child .ett-para.pri.fs14,
    .cust-grp .loan-type .pst-tabs.hor.pri > ul.tabs > li,
    .loan-type .crt-list .loan-group-details > span > .srb.pri:first-child .ett-para.pri,
    .loan-details.close-actv-loan .crt-list .pcal-details > span:last-child .ett-hed6.sec,
    .loan-details.close-actv-loan .crt-list .amt-status .ett-para.pri,
    .loan-details .pst-simp.tsp > .crt-form.pri.var2 .scb-col100 > ul.srb.eoc .ett-para.pri,
    .select-loan.loan-type .crt-list .loan-group-details > span > .srb.pri .rht > .ett-para.sec,
    .select-loan.loan-type .crt-list .loan-group-details > span > .srb.pri:nth-child(2) .ett-para.pri.fs12,
    .select-loan .ett-bttn.tsp,
    .cncl-alloc .ett-para.suc,
    .price-brkup .ett-para,
    .stps-num .crt-list > ul.tsp > li .ett-bttn.tsp,
    .mrk-atndc-hdr .mrk-optn > ul.srb.eoc .flb,
    .coll-depo .crt-form.ver.pri .srb.pri > span > ul > li > .ett-para.pri {
        font-size: var(--font-16);
    }
    .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span .ett-slct.pri, 
    .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span .ett-inpt.pri,
    .mdl-purpose .modal-dialog .modal-content .crt-form .otp-info .ett-labl.pri {
        font-size: var(--font-16) !important;
    }
    .dash-widg-main .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li > span .ett-para.customer-id,
    .dash-widg-main .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li .par-section .ett-bttn.pri,
    .dash-widg-main .dash-rates .widget-panel .crt-navb.tsp .loan-application-button,
    .dash-widg-main .dash-rates .widget-panel .crt-list.loan-application-section ul > li > span .ett-para.pri.inf,
    .dash-widg-main .dash-rates .widget-panel .crt-list.loan-application-section ul > li span.rht:last-child > span:nth-child(2) .ett-para.pri,
    .loan-type .crt-list.mem-group > ul.tsp .ett-badg.inf,
    .loan-type .crt-list .loan-group-details > span > .srb.pri:nth-child(2) .ett-para.pri,
    .loan-type .crt-list .loan-group-details > span:nth-child(2) > .srb.pri > span .ett-badg.war,
    .login-main.login-body .login-right .crt-form.ver .inpt-fld .srb.eoc.wrapped > li .flb,
    .forgot-area .ett-hypl.pri,
    .forgot-area .ett-para.pri,
    .memb-info .crt-navb > ul .ett-bttn.tsp,
    .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span > span:first-child .ett-para.pri,
    .hushld-det .crt-list.tsp .scb-col100 > span > span:first-child .ett-para.pri,
    .hushld-det .crt-list.tsp .scb-col100 > span > span:last-child .ett-para.pri,
    .loan-details .memb-info .pst-simp.tsp > .crt-form .scb-col100 > span > span:last-child .ett-para.pri,
    .pro-details .loan > ul:last-child .ett-para.pri,
    .customer-data .active-loan .ett-para.suc,
    .ald-lists-data.crt-list > ul.tsp > li .ett-para.pri.clr96,
    .loan-details .memb-info .ett-hed6.sec.var1,
    .loan-details .memb-info .pst-simp.tsp > .crt-form .scb-col100 > span:last-child .ett-hed6.pri,
    .crt-form.hor.pri .flb,
    .emg-loan-footer .ett-para.ter,
    .mdl-purpose .var1 > div:last-child .crt-list > ul.tsp > li > span .ett-para.pri,
    .mdl-cent .crt-form .ett-para.pri,
    .fab-days .crt-list .answer .ett-para.pri.code,
    .memb-full-data .incm-asmnt.crt-form .var1 .ett-para,
    .loan-details .crt-form.hor.pri .loan-det-text > .srb.pri .flb,
    .next-tabs .pst-simp.pa0 > .crt-form.sec .ett-hed6.sec,
    .loan-details .memb-info .heading .ett-hed6.sec,
    .new-loan-add .kendra-det-add .srb.pri .var2 .ett-bttn.tsp,
    .km-details .memb-info .pst-simp.tsp > .crt-form .ett-bttn.tsp,
    .sel-alloc-typ .var3 .ett-bttn.tsp,
    .cust-grp .memb-info .pst-simp.pa0 > .crt-form .srb.pri > .scb-col50 .ett-para.fs14,
    .cust-grp .memb-info .pst-simp.pa0 > .crt-form .srb.pri > .scb-col100 .ett-bttn.tsp.var1,
    .updt-cust-det .crt-form.ver.pri .flb,
    .fab-days .crt-list > ul.tsp > li .par-section > .ett-para.pri,
    .aprv-rjct-req .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span > span:last-child .ett-para.pri,
    .cnf-disb-points .crt-navb .ett-para.pri,
    .mpn-mdl .crt-form.ver.pri .otp-block .flb,
    .ques-com-row .pst-simp.tsp > .crt-list .ett-para.pri,
    .loan-details .pst-simp.tsp > .crt-list .scb-col100 > span .ett-bttn.tsp,
    .add-more-memb .ett-bttn.tsp,
    .slf-dclrd-inc .view-id .ett-bttn.tsp,
    .incm-asmnt-sts .customer-loan .crt-list > ul.tsp > li .pro-details > span:last-child > span:nth-child(2) .ett-para.pri,
    .customer-loan .crt-list > ul.tsp > li .mrk-atdnc-usr .pro-details > span:last-child > span:nth-child(2) .ett-para.pri,
    .app-set .crt-list > ul.tsp > li .ett-hypl.pri,
    .loan-details .memb-info .pst-simp.tsp > .crt-form .details-area > .scb-col100 > span > span:first-child .ett-para.pri {
        font-size: var(--font-14);
    }
    .ald-lists .ald-lists-data.crt-list > ul.tsp > li .ett-para.pri, 
   .ald-lists .ald-lists-head.crt-list > ul.tsp > li .ett-para.pri, 
   .ald-lists  .ald-lists-data.crt-list > ul.tsp > li > span:not(:first-child) .ett-para.pri {
      font-size: var(--font-14);
    }
   .ald-lists .ald-lists-data.crt-list > ul.tsp > li .ett-para.pri.clr96{
       font-size: var(--font-12);
    }
    .dash-statics.loan-type .tabcontent ul.tsp > li > span:first-child .ett-para.pri.fs10,
    .loan-type .crt-list .loan-group-details > span > .srb.pri > span .ett-badg.suc, 
    .loan-type .crt-list .loan-group-details > span > .srb.pri > span .ett-para.pri.suc,
    .customer-data .pro-details .pro-group > span > ul.eoc .ett-para.pri,
    .customer-loan .crt-list > ul.tsp > li .pro-details > span:nth-child(2) .pro-group .ett-para.pri,
    .customer-data .ett-para.inf,
    .customer-loan .crt-list .loan-group-details .ett-badg.suc,
    .fab-weeks .crt-list > ul.tsp .ett-para.inf,
    .klst .subdivdisplay > ul > li .srb.pri > span > .code.ett-para.pri,
    .km-details .memb-info .pst-simp.tsp > .crt-form .ett-bttn.tsp,
    .km-memb .loan-type .crt-list .ett-badg.suc,
    .frq-srch .crt-list .ett-para.wht,
    .aprv-rjct-req .loan-details .pst-simp.tsp > .crt-form .ett-bttn.tsp.suc,
    .loan-details.close-actv-loan .crt-list .pcal-details > span:last-child .ett-para.pri,
    .loan-details.close-actv-loan .crt-list .amt-status .ett-para.pri.wht,
    .select-loan.loan-type .crt-list .loan-group-details > span > .srb.pri:nth-child(2) .ett-para.pri,
    .k-alloc-hist .loan-type .crt-list .loan-group-details > span > .srb.pri:nth-child(2) .ett-para.pri,
    .k-alloc-hist.customer-data .loan-group-details > span > .srb.pri:first-child .ett-para.inf,
    .loan-type .crt-list .loan-group-details > span > .srb.pri:first-child .ett-badg {
        font-size: var(--font-12);
    }
    .inpt-fld .ett-para.err,
    .loan-details.close-actv-loan .crt-navb .err-msg .ett-para.pri,
    .km-details .memb-info .pst-simp.tsp > .crt-form .scb-col100 > span > span:first-child .ett-para.pri.err {
        font-size: 12px !important;
    }
    .login-main.login-body .login-right .inpt-fld .ett-inpt.pri,
    .login-main .otp-block .icon-eye, 
    .user-verified .icon-check {
        height: 50px;
    }
    .loan-type .mem-search .ett-inpt.pri,
    .mmbr-decs > span > .srb.pri .ecn > .cir > .ett-inpt.pri, 
    .mmbr-decs > span > .srb.pri .ett-slct.pri, 
    .mmbr-decs > span > .srb.pri .ett-inpt.pri,
    .mmbr-dth-drp .ett-slct.pri,
    .mmbr-dth-drp .ett-bttn.tsp {
        height: 56px;
    }
    .dash-widg-main .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li .map-app .ett-para.icl > svg {
        width: 24px;
        height: 24px;
        margin-right: 2px;
    }
    .dash-widg-main .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li .map-app .ett-para.pri {
        display: var(--d-flex);
        align-items: center;
    }
    .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li .par-section .ett-para {
        margin-right: var(--mr-8);
        margin-left: var(--ml-4);
    }
    .dash-widg-main .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li,
    .loan-type .pst-tabs.hor.pri > ul.tabs,
    .fab-kendra .pst-simp.pa0 > .search-kendra, 
    .fab-kendra .pst-simp.pa0 > .fab-weeks,
    .klst > ul.tsp > li > span > .kndr-loc-hdr.srb.pri,
    .klst .subdivdisplay > ul > li,
    .memb-dtls .memb-full-data {
        padding-inline: 24px;
    }
    .dash-widg-main .dash-rates.active .widget-panel .crt-list.loan-application-section ul > li .par-section .ett-bttn.pri,
    .dash-widg-main .dash-rates .widget-panel .crt-navb.tsp .loan-application-button {
        padding: 4px 6px;
    }
    .dash-widg-main .dash-rates .widget-panel,
    .new-loan-add .pst-simp.pa0 > .crt-form.ln-dis-lst.customer-loan .crt-list > ul.tsp > li,
    .next-tabs .pst-simp.pa0 > .crt-form.sec,
    .lndng-pge,
    .kendra-mem-grp-details .pst-simp.pa0 > .crt-list > ul.tsp > li,
    .new-loan-add .pst-simp.pa0 > .crt-form,
    .cust-review .pst-simp.pa0 > .pymt-area,
    .kendra-details .pst-simp.pa0 > .km-details,
    .mdl-purpose .modal-dialog .modal-content .var1 > div:first-child .crt-list > ul.tsp > li, 
    .mdl-purpose.mdl-filter .modal-dialog .filter-col > ul > li,
    .kyc-doc-type.crt-list > ul.tsp > li,
    .upld-doc .pst-simp.pa0 > .kyc-doc-side,
    .incm-asmnt-sts .customer-data .crt-list > ul.tsp > li,
    .dash-rates.active .widget-panel .crt-navb.pri.act-view-more,
    .take-new-loan .loan-app,
    .clm-dtls > span > .srb.pri:not(:first-child),
    .stps-num .crt-list > ul.tsp > li,
    .list.crt-list > ul.tsp > li > span > .srb.pri,
    .mrk-cln-grp .crt-list.row-dtls > ul.tsp > li,
    .app-set .crt-list > ul.tsp > li,
    .pst-simp.pa0 > .add-amt-main {
        padding: 24px;
    }
    .loan-bg-head .pst-simp.pa0 > .crt-navb,
    .memb-info .pst-simp.pa0 > .crt-form,
    .sel-alloc-typ .kendra-mem-grp-details .pst-simp.pa0 > .crt-list > ul.tsp > li,
    .mdl-purpose.mdl-choose .modal-dialog .modal-content .var1 > div:last-child .crt-list > ul.tsp > li,
    .loan-details.close-actv-loan .crt-list > ul.tsp > li,
    .p-tsk-lst .crt-list > ul.tsp > li,
    .hushld-det .crt-list.tsp,
    .advnc-amt {
        padding: 16px;
    }
    .loan-act-mdl-main .modal-content .crt-list > ul > li {
        padding: 12px;
    }
    .clm-dtls .head {
        padding: 12px 24px;
    }
    .loan-act-btn .dash-subtitle button.ett-bttn.pri {
        font-size: var(--font-16);
        width: 179px;
        height: auto;
        padding: 12px 24px;
        line-height: 22px;
        right: 24px;
    }
    .loan-act-btn .dash-subtitle-close button.ett-bttn.pri {
        width: 69px;
        height: 69px;
    }
    .loan-act-mdl-main.modal.in > .modal-dialog {
        width: 371px !important;
        // border-radius: 8px !important;
        // transform: translate(-6%, -75%) !important;
    }
    .loan-act-mdl-main .modal-dialog .modal-content {
        margin: var(--ma-0);
    }
    .loan-act-mdl-main .modal-content .pst-simp.pri > div {
        padding: 16px 12px;
    }
    .loan-act-mdl-main .modal-content .crt-list .ett-para.icr > svg,
    .new-loan-add .kendra-det-add .srb.pri .var2 .ett-bttn.tsp > .ett-icon {
        width: 24px;
        height: 24px;
        flex: none;
    }
    .dash-statics {
        margin-top: 71px;
        padding: 24px;
    }
    .drop-angle {
        bottom: -21px;
    }
    .txt-brd-lr .ett-para.pri::before, .txt-brd-lr .ett-para.pri::after {
        bottom: 15px;
    }
    .drop-area .close-tab-btn .icon-close-gk {
        top: 90px;
        right: 24px;
    }
    .dash-statics.loan-type .tabcontent ul.tsp > li > span:first-child .ett-para.pri {
        font-weight: var(--font-regular);
    }
    .nla-ref-header .scb-col10 {
        width: 7%;
    }
    .nla-ref-header,
    .loan-details,
    .pst-simp.pa0 > .nla-ref-header {
        padding: 20px 24px;
    }
    .nlb-data,
    .loan-app-heading .crt-navb .ett-hed6.pri,
    .customer-data,
    .login-bg,
    .pst-simp.pa0 > .customer-data {
        padding: 32px 24px;
    }
    .nla-ref-header .steps-head .ett-hed6.inf {
        display: var(--d-flex);
        justify-content: end;
    }
    .loan-type .pst-tabs > .tabs-ctr > div > .tabcontent > div,
    .kendra-mem-grp-details,
    .fab-kendra .fab-days .crt-form {
        margin-block: 24px;
    }
    // .amt-progress .srb.sec {    //NewLoanApp Add Sub btn
    //     top: 5px;
    // }   
    .lndng-cntnt .splash-icn {
        margin-top: 48px !important;
        margin-bottom: 120px !important;
    }
    .lndng-cntnt .ett-hed5.pri {
        font-size: var(--font-32);
        font-weight: 800;
        line-height: 44px;
    }
    .lndng-cntnt .splash-icn .ett-icon.pri,
    .approved-memb .crt-navb .ett-icon.pri {
        width: 120px;
        height: 120px;
    }
    .lndng-pge .full-btn .ett-bttn.suc.tsp,
    .login-main.login-body .login-right .ett-bttn.pri,
    .search-main .ecn > .icr > .ett-inpt.pri,
    .full-btn .ett-bttn.suc.tsp,
    .fab-kendra .search-kendra .ecn > .icr > .ett-inpt.pri,
    .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span .ett-slct.pri, 
    .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span .ett-inpt.pri,
    .loan-details .pst-simp.tsp > .crt-form.pri:last-child .ett-bttn.pri,
    .loan-details .pst-simp.tsp > .crt-form .ett-bttn.suc.pri,
    .approved-memb .crt-form .ett-bttn.sec {
        font-size: var(--font-16);
        height: 48px !important;
    }
    .kyc-doc-num > span > .srb.pri .ett-inpt.pri {
        height: 48px;
    }
    .kyc-doc-num .ett-bttn.pri {
        font-size: var(--font-16);
        height: 48px;
    }
    .kyc-doc-side .ett-bttn {
        height: 40px;
        font-size: 14px;
    }
    .kyc-doc-type.crt-list > ul.tsp > li .srb.pri > span.rht > .ett-imge {
        width: 96px;
        height: 56px;
    }
    .lndng-cntnt .ett-hed5.pri {
        line-height: 48px;
        font-size: 34px;
    }
    .pgntn-sldr .ett-para.pri {
        width: 28px;
    }
    .pgntn-sldr .active .ett-para.pri {
        width: 48px;
    }
    .pgntn-sldr > span > ul:not(:last-child) {
        margin-right: 10px;
    }
    .customize-tab {
        margin-block: 28px;
        padding-inline: 24px;
    }
    .customer-data .pro-details.srb.pri > span.scb-col65 {
        padding-left: var(--pl-16);
    }
    .ald-lists-head.crt-list > ul.tsp > li .ett-para.pri {
        font-weight: var(--font-semibold);
    }
    .fixed-foot-btn,
    .memb-full-data .pst-tabs > .tabs-ctr > div > .tabcontent > .incm-asmnt.crt-form > .erng-dtls,
    .mdl-purpose .modal-dialog .modal-content .var1 > div:last-child .crt-list > ul.tsp,
    .k-time-slot,
    .mdl-purpose .modal-dialog .modal-content .crt-form .mdl-btn, 
    .mdl-purpose.mdl-filter .mdl-btn .crt-navb,
    .mdl-purpose .modal-dialog .modal-content .crt-form .ett-labl.pri {
        padding: 16px 24px;
    }
    .custom-form-launch .fab-kendra,
    .pt1 {
        padding-top: var(--pt-24);
    }
    .loan-details .loan-bg-head.inc-details .pst-simp.tsp > .crt-form .scb-col100 > .srb.pri:not(:last-child) {
        padding-bottom: var(--pb-16);
    }
    .fab-weeks .crt-list > ul.tsp .ett-para.inf,
    .loan-details .ett-badg.sqr,
    .kendra-bm-dash .loan-type .crt-list.mem-group > ul.tsp .ett-badg.inf {
        height: auto;
        padding: 6px 14px;
    }
    .fab-days .crt-list.loan-application-section > ul.tsp > li {
        padding-bottom: var(--pb-24);
        margin-top: var(--mt-24);
        padding-inline: 24px;
    }
    .clm-dtls > span > .srb.pri > span > .srb.pri:not(:last-child),
    .coll-depo .ett-hed4.pri {
        margin-bottom: var(--mb-24);
    }
    .klst .subdivdisplay > ul > li {
        margin-bottom: var(--mb-24);
        padding-bottom: var(--pb-24);
    }
    .loan-type .pst-tabs > .tabs-ctr > div > .tabcontent .crt-list > ul.tsp > li:not(:last-child) {
        padding-bottom: var(--pb-16);
        margin-bottom: var(--mb-16);
    }
    .klst > ul.tsp > li > span > .kndr-loc-hdr.srb.pri ~ .answer,
    .mt1 {
        margin-top: var(--mt-24);
    }
    .loan-succ-scrn .approved-memb .crt-navb .ett-hed5.pri {
        margin-top: 20px;
    }
    .memb-dtls .memb-full-data {
        top: -40px;
    }
    .memb-full-data .pst-tabs > .tabs-ctr > div > .tabcontent > .incm-asmnt.crt-form > .erng-dtls,
    .quick-act .crt-list > ul.tsp > li .srb.pri > span > .ett-icon,
    .loan-details.close-actv-loan .crt-list > ul.tsp > li {
        margin-bottom: var(--mb-16);
    }
    .loan-type .pst-tabs > .tabs-ctr > div > .tabcontent > div .crt-list:first-child {
        // margin-bottom: var(--mb-48);
        margin-top: var(--mt-16);
    }
    .new-loan-add .scb-col70 > .srb.pri .ett-hed3.sec {
        margin-bottom: var(--mb-4);
    }
    .dashboard_screen .dash-widg-main .paright > div,
    .fab-kendra .pst-simp.pa0 > div:not(:last-child),
    .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span,
    .hushld-det .crt-list.tsp .scb-col100 > span,
    .loan-details .pst-simp.tsp > .crt-form:not(:last-child),
    .customer-data .crt-form > .srb.pri > .scb-col100 > span:not(:last-child),
    .kendra-mem-grp-details .pst-simp.pa0 > .crt-list > ul.tsp > li,
    .quick-act .crt-navb,
    .mb1,
    .p-tsk-lst .crt-list > ul.tsp > li:not(:last-child) {
        margin-bottom: var(--mb-24);
    }
    .kendra-mem-grp .crt-list > ul.tsp > li .ett-para.sec,
    .kyc-doc-side > span:last-child > span > .srb.pri:not(:last-child) {
        margin-bottom: 12px;
    }
    .loan-type .crt-list .loan-group-details > span > .srb.pri:not(:last-child) > span {
        margin-bottom: 10px;
    }
    .loan-type .pst-tabs > .tabs-ctr > div > .tabcontent > div .crt-navb,
    .clm-dtls {
        margin-top: var(--mt-32);
    }
    .dash-screen-main .act-to-comp .crt-navb > ul,
    .login-body .login-right .inpt-fld,
    .kendra-bm-dash .crt-navb,
    .loan-details .pst-simp.tsp > .crt-form .scb-col100 > span, 
    .hushld-det .crt-list.tsp .scb-col100 > span {
        margin-bottom: var(--mb-32);
    }
    .login-bg .logo .crt-form:first-child {
        margin-bottom: 72px;
    }
    .km-memb .loan-type .crt-list > ul.tsp > li,
    .ln-dis-lst.customer-loan .crt-list > ul.tsp > li {
        padding-block: 24px;
    }
    .steps-head > .scb-col20 {
        text-align: right;
    }
    .login-bg .logo .ett-imge {
        width: 180px;
        height: auto;
        padding: 12px;
    }
    .dash-widg-main .ett-hed4.icl > svg,
    .km-memb .loan-type .crt-list.mem-group > ul.tsp .ett-badg.inf:not(:last-child) {
        margin-right: 12px;
    }
    .km-memb .loan-type .crt-list .ett-badg.suc {
        padding: 3px 6px;
    }
    .mdl-purpose .modal-dialog .modal-header {
        padding: 24px 24px 0px;
    }
    .bm-actvt {
        // margin-top: 35px;
        margin-top: 23px;
    }
    .loan-details.close-actv-loan .crt-list .pcal-details > span:last-child {
        padding-left: 12px;
    }
    .mdl-add-memb .amt-progress > span > .sec {
        top: 3px;
    }
    .mpn-mdl .login-main .otp-block .icon-eye, 
    .mpn-mdl .user-verified .icon-check {
        right: 10px;
    }
    .kyc-doc-side > .srb.pri > span.rht .ett-imge {
        width: 160px;
        height: 92px;
    }
    .ln-dis-lst.customer-loan .crt-list > ul.tsp > li:last-child {
        margin-bottom: 85px;
    }
    .stps-num .crt-list > ul.tsp > li .ett-badg.sqr {
        top: -14px;
        padding: 2px 10px;
    }
    .stps-num .crt-list > ul.tsp > li::before {
        left: 40px;
    }
    .attndnc-dtls .row-list > ul.tsp > li {
        padding: 0px;
    }
    .login-body .login-right {
        width: 100%;
        height: calc(100vh - 114px);
    }
    .dashboard-header-main .crt-navb .var3 .ecn > .cir.ett-date {
        width: 155px;
    }
    .bm-web.dashboard-header-main .crt-navb .var2 {
        margin-right: 15px;
    }
}



@media (max-width: 767px) {
    .upld-cbchk-tbl.custom-tabel .table-header {
        display: block;
    }
}



@media (min-width: 600px) {
    .pd-inl,
    .apz-nav-horizontal.pnb-head .colcenter.header.dashboard-header-main {
        padding-inline: 24px !important;
    }
    .coll-sub .ald-lists-data.crt-list > ul.tsp > li,
    .coll-sub .ald-lists .crt-form.inflw > span,
    .coll-sub .ald-lists .crt-form.inflw > .srb.pri,
    .kndra-wise-dtls .crt-list > ul.tsp > li,
    // .add-amt-loan.crt-list.tsp,
    .sbmt-btm,
    .coll-sub .ald-lists .dpst-dtls,
    .mdl-dpst-bkp .modal-content > div,
    .app-prgrs .prgrs-list,
    .prgrs-head {
        padding: 24px;
    }
    .dash-screen-main.dashboard_screen {
        padding-top: 24px !important;
    }
    .dashboard-footer-main,
    .coll-sub .ald-lists-head.crt-list > ul.tsp > li > span {
        padding-inline: 24px;
    }
    .apz-nav-horizontal.pnb-head .colcenter.header.dashboard-header-main {
        padding: 16px 24px !important;
    }
    .web-hdr .srb.pri > .scb-col10 {
        width: 24px;
        margin-right: 12px;
    }
    .dash-screen-main .act-to-comp .crt-navb > ul {
        margin-block: 24px;
    }
    .customer-data .pro-details.srb.pri > span:last-child {
        flex: auto;
    }
    .loan-type .crt-list .loan-group-details > span > .srb.pri > span .ett-para.pri.suc {
        line-height: 1.5;
    }
    .nla-ref-header .srb.pri {
        display: flex;
        align-items: center;
    }
    .nla-ref-header .srb.pri > .scb-col10 {
        width: 32px;
        margin-right: 12px;
    }
    .nla-ref-header .scb-col30,
    .nla-ref-header .rht.scb-col20,
    .nla-ref-header .srb.pri > .scb-col15:last-child {
        flex: auto;
    }
    .customer-data .pro-details > span.scb-col15 {
        width: 64px;
    }
    .mpn-mdl .otp-block .ett-inpt.pri,
    .cash-calc .crt-form > .srb.pri .ett-bttn {
        height: 50px;
    }
    .customize-tab .crt-form > .srb.pri > span.scb-col90 {
        width: 100%;
    }
    .dash-widg-main .ett-hed4.icl > svg,
    .stps-num .crt-list.suc > ul.tsp > li .ett-icon.pri,
    .mdl-prgrs .crt-list > ul.tsp > li > span > svg {
        width: 32px;
        height: 32px;
    }
    .ett-para.fs12.icl > svg.icon-currency_rupee,
    .ett-para.fs11.icl > svg.icon-currency_rupee {
        width: 14px;
        height: 14px;
    }
    .mdl-meet .ett-hed4.pri {
        font-size: 28px;
    }
    .ttl-amt-hdng .ett-hed3.pri {
        font-size: 32px;
    }
    .cash-calc.crt-list > ul.tsp > li .ett-para.pri,
    .cash-calc .crt-form > .srb.pri .ett-para.pri,
    .grp-row .grp-row1 .ett-para.pri,
    .coll-sub .ald-lists-head.crt-list > ul.tsp > li .ett-para.pri,
    .add-amt-loan.crt-list.tsp > .ttl .ttv .lbl h4,
    .clct-via.crt-form.pri > .ttl .ttv > li.lbl h4,
    .mdl-adv-amt.mdl-rate .bld .ett-para.ter {
        font-size: 28px;
    }
    .mdl-prgrs.mdl-purpose .modal-dialog h1 {
        font-size: 28px !important;
    }
    .dash-screen-main .crt-navb .ett-para.pri.var2,
    .mrk-cln-grp .crt-list.row-dtls > ul.tsp > li .ett-hypl.pri,
    .dth-intmn .ett-hypl,
    .coll-sub .ald-lists-data.crt-list > ul.tsp > li > span > .ett-para.pri:last-child,
    .stps-num .crt-list.suc-row > ul.tsp > li > span > .suc-msg .ett-para.pri.fs12,
    .inflw .srb.pri > span:last-child > ul.eoc > li > .ett-para,
    .inflw .srb.pri > span:first-child > ul.eoc > li > .ett-para.fs14,
    .kndra-wise-dtls .crt-list > ul.tsp > li .var1 > .srb.pri .ett-para.fs14,
    .chck-loans .customer-data .ett-hed3.sec.fs14,
    .coll-sub.customer-data .pro-details .ett-hed3.sec,
    .dth-intmtn .ett-hypl.pri {
        font-size: var(--font-24);
    }
    .mrk-cln-grp .row-head .ett-para.pri,
    .attndnc-dtls .row-list > ul.tsp > li > span > .ett-para.pri,
    .coll-sub .ald-lists-data.crt-list > ul.tsp > li > span > .ett-para.pri:first-child,
    .stps-num .crt-list > ul.tsp > li .ett-bttn.pri,
    .inflw .srb.pri > span:first-child > ul.eoc > li > .ett-para.fs12,
    .coll-sub .gcb-col12 > div .ett-bttn.tsp.suc,
    .mdl-adv-amt.mdl-rate .mdl-btn .ett-bttn,
    .mdl-cent .crt-form .scb-col90 .ett-para.pri,
    .coll-sub .ald-lists .dpst-dtls > ul.tsp > li > span > .srb.pri .ett-para.fs12,
    .add-amt-main .ecn > .icl > .ett-inpt.pri {
        font-size: 20px;
    }
    .dash-widg-main .ett-hed4.pri,
    .grp-data .srb.pri > span .ett-hypl.pri,
    .grp-data > span > .srb.pri > span .ett-para.fs11,
    .ett-rdio.hor.pri .prsnt input[type=radio] + label,
    .ett-rdio.hor.pri .absnt input[type=radio] + label,
    .ett-rdio.hor.pri .leav input[type=radio] + label,
    .usr-atdnc .ett-rdio.hor.pri input[type=radio] + label,
    .coll-sub .ald-lists .dpst-dtls .ett-hypl.pri,
    .ald-lists-head.crt-list > ul.tsp > li > span .ett-hypl.pri,
    .ind-loan .ett-para.pri {
        font-size: var(--font-18);
    }
    .schd-mdl .var3 > span > .ett-para.fs11,
    .schd-mdl .var3 > span > .ett-para.fs12,
    .loan .ett-para.fs10,
    .hld-dtls .srb.pri > span .ett-para.pri.fs12,
    .dash-rates.active .crt-list.loan-application-section ul > li > span .stats-fld .ett-para.fs12,
    .clcn-sbmtn .crt-list > ul.tsp > li.totl-coll > span .ett-para.fs11,
    .clcn-sbmtn .crt-list > ul.tsp > li.totl-coll > span .ett-para.fs12,
    .clcn-sbmtn .crt-list > ul.tsp > li > span .status .ett-para.fs12,
    .mdl-dpst-bkp .crt-list > ul.tsp > li .ett-para.fs12,
    .mdl-dpst-bkp .crt-form > .srb.pri > span .ett-para.fs12,
    .zero-coll .mrk-cln-grp .crt-list.row-dtls > ul.tsp > li .ett-inpt.pri,
    .mdl-prgrs .crt-list > ul.tsp > li > span > .srb.pri .row-body .ett-para.pri.fs12 {
        font-size: 16px;
    }
    .mb12,
    .k-meet-time .crt-form.ver.pri .var2 .flb {
        font-size: var(--font-16) !important;
    }
    .dash-widg-main .crt-navb ul.srb.pri > li .ett-para.ter,
    .mrk-cln-grp .crt-list.row-dtls > ul.tsp > li .var1 .ett-para.pri,
    .mrk-cln-grp .crt-list.row-dtls > ul.tsp > li .var2 .ett-para.pri,
    .attndnc-dtls .pro-group .ett-para.pri,
    .grp-row .grp-row2 .ett-para.pri,
    .coll-sub.customer-data .pro-details .pro-group > span > ul.eoc .ett-para.pri,
    .nla-ref-header .ref .ett-para.pri,
    .kndra-wise-dtls .crt-list > ul.tsp > li .var1 > .srb.pri .ett-para.fs11,
    .progress-total,
    .hld-dtls .srb.pri > span .ett-para.pri.fs11,
    .chck-loans .pro-group .ett-para.fs10,
    .mdl-prgrs .crt-list > ul.tsp > li > span.cntnt-rht .ett-para.fs11,
    .mdl-dpst-bkp .crt-list > ul.tsp > li .ett-para.fs10,
    .dth-intmtn .lft-cntnt .ett-para.fs10 {
        font-size: var(--font-14);
    }
    .km-slots > span > .r-head .ett-para.pri {
        font-size: 14px !important;
    }
    .progress-value,
    .km-details .memb-info .pst-simp.tsp > .crt-form .scb-col100 > span > span:last-child .err.eoc .ett-para.pri,
    .bg-info,
    .bg-err,
    .bg-dark-err,
    .bg-green {
        font-size: 12px;
    }
    .schd-mdl .var3 > span,
    .km-slots > span > .srb.pri > span,
    .mmbr-dth-drp .ett-bttn.tsp,
    .grp-row .grp-row1,
    .kndra-drpdwn .crt-list > ul.tsp > li,
    .more-dtls {
        padding: 16px;
    }
    .inst-loans .ln-dis-lst.customer-loan .crt-list > ul.tsp > li > span:not(:first-child) {
        flex: auto;
        display: flex;
    }
    .inst-loans .ln-dis-lst.customer-loan .crt-list > ul.tsp > li > .rht.scb-col10 {
        justify-content: end;
        width: auto;
        align-items: center;
    }
    .loan-details.close-actv-loan .crt-list > ul.tsp > li .pcal-details > span.scb-col15 {
        width: 7%;
    }
    body:has(.fixed-foot-btn:not(.sno)) .has-mb {
        padding-bottom: 110px;
    }
    body:has(.fixed-foot-btn:not(.sno)) .row-dtls {
        padding-bottom: 90px;
    }
    .mmbr-decs > span > .date-fld > span {
        width: 55%;
    }
    .mrk-atndc-hdr .mrk-optn > ul.srb.eoc > li .ett-chek.hor.pri > span {
        margin-right: 8px;
    }
    .usr-atdnc .ett-rdio.hor.pri > span:not(:last-child) {
        margin-right: 12px;
    }
    .net-clctn .dd-data > span > .eoc.srb,
    .inflw .dd-data > span > ul.srb.eoc {
        margin-top: 16px;
    }
    .ett-rdio.hor.pri > .prsnt,
    .ett-rdio.hor.pri > .absnt,
    .ett-rdio.hor.pri > .leav {
        padding: 12px;
    }
    .stps-num .crt-list.suc > ul.tsp > li > span > .suc-msg > span {
        padding-left: 24px;
    }
    .usr-atdnc .ett-rdio.hor.pri > span:last-child {
        margin-right: 0px;
    }
    .mrk-cln-grp .crt-list.row-dtls > ul.tsp > li .ett-inpt.pri,
    .mdl-adv-amt.mdl-rate .mdl-btn .ett-bttn,
    .add-amt-main .ecn > .icl > .ett-inpt.pri {
        height: 54px;
    }
    .amt-adjst > span .ett-inpt.pri {
        font-size: 24px;
        height: 52px;
    }
    .amt-add > .srb.pri:not(:last-child) {
        margin-right: 16px;
    }
    .advnc-amt > span > .srb.pri:not(:last-child) {
        margin-bottom: 24px;
    }
    .cash-calc .crt-list > ul.tsp > li,
    .coll-sub .ald-lists .dpst-dtls > ul.tsp > li > span > .srb.pri:not(:last-child) {
        margin-bottom: 24px;
    }
    .attndnc-dtls .row-head > ul.tsp > li {
        padding: 0px;
    }
    .attndnc-dtls .pro-group .ett-para.pri:not(:last-child) {
        margin-right: 6px;
    }
    .attndnc-dtls .row-head > ul.tsp > li > span,
    .grp-data > span > .srb.pri > span,
    .coll-attend .grp-row .grp-row2 > span {
        padding: 10.5px 16px;
    }
    .coll-attend .grp-data > span > .srb.pri > span {
        padding: 12.5px 16px;
    }
    .attndnc-dtls .row-list > ul.tsp > li > span {
        padding: 20px 16px;
    }
    .amt-adjst > span > .btn {
        top: 10px;
    }
    .amt-add > .srb.pri.amt-adjst {
        max-width: 322px;
    }
    .grp-data .srb.pri > span .ett-para.pri.wht {
        padding: 3px 6px;
    }
    .grp-row .grp-row1,
    .coll-sub .ald-lists {
        margin-top: 44px;
    }
    .add-amt-main .ecn > .icl > svg.icon-currency_rupee {
        width: 22px;
    }
    .grp-row .grp-row1 .ett-para.icl > svg,
    .stps-num .crt-list.suc-row > ul.tsp > li .ett-icon.pri,
    .km-dtlsLst .icon-task_tsp {
        width: 28px;
        height: 28px;
    }
    .stps-num .crt-list > ul.tsp > li .ett-bttn.tsp > .ett-icon, {
        width: 24px;
        height: 24px;
    }
    .coll-sub .ett-para.icl > svg,
    .kndra-wise-dtls .crt-list > ul.tsp > li .var1 > .srb.pri .ett-para.fs14 > svg,
    .coll-sub .dpst-dtls > ul.tsp > li > span > .srb.pri .ett-para.fs12 > svg.icon-currency_rupee,
    .stps-num .crt-list.suc-row > ul.tsp > li .prtl-amt .ett-icon.pri,
    .scan-txt .coll-suc-msg > ul.eoc.srb .icon-task_alt,
    .scan-txt .coll-suc-msg > ul.eoc.srb .icon-cancel-fill {
        width: 20px;
        height: 20px;
    }
    .grp-data .ett-para.icl > svg,
    .grp-data span.cen .txt-inl .ett-para.icr > svg,
    .coll-sub .pro-details .loan .ett-para.pri.wht > svg {
        width: 18px;
        height: 18px;
    }
    .kndra-drpdwn .loan-act-mdl-main .modal-content {
        width: 364px;
    }
    .kndra-drpdwn .loan-act-mdl-main {
        top: 20px;
    }
    .dd-data {
        padding-right: 32px;
    }
    .add-amt-main .ecn > .icl > .ett-inpt.pri {
        padding-left: 35px;
    }
    .mdl-adv-amt.mdl-rate .modal-dialog .modal-content {
        margin: 24px;
    }
    .mdl-prgrs .modal-dialog .modal-content {
        margin: 28px 24px;
    }
    .kndra-wise-dtls .crt-list .var1 > .srb.pri > span:first-child > .srb.pri:last-child {
        margin-top: 8px;
    }
    .kndra-dd-data .grp-row,
    .wgt-prgrs {
        margin-top: 24px;
    }
    .mdl-adv-amt.mdl-rate .mdl-btn {
        margin-top: 32px;
    }
    .progress-total {
        margin-left: 24px;
    }
    .mdl-prgrs .crt-list > ul.tsp > li > span > .srb.pri .ett-para.pri:not(:last-child) {
        margin-bottom: 8px;
    }
    .add-amt-loan.crt-list.tsp > .ttl,
    .add-amt-loan.crt-list.tsp > ul.tsp > li:not(:last-child),
    .clct-via.crt-form.pri > .ttl,
    .clct-via.crt-form > .srb.pri > span > ul.srb.eoc:not(:last-child) {
        margin-bottom: 24px;
    }
    .ml8, 
    .ml8.ett-para.pri,
    .hld-dtls .ett-badg.sqr {
        margin-left: 12px;
    }
    .mt8 {
        margin-top: 12px;
    }
    .kendra-bm-dash {
        padding-top: 35px;
    }
    .progress-bar-container {
        height: 12px;
    }
    .dashboard-header-main .crt-navb .var3 .ecn.kndra-tab > .icr > svg {
        height: 45px;
    }
    .chck-loans .crt-list > ul.tsp > li > span > .srb.pri > .scb-col15 {
        width: auto;
        margin-right: 24px;
    }
    .chck-loans .crt-list > ul.tsp > li > span > .srb.pri .ett-imge > svg {
        width: 64px;
        height: 64px;
    }
    .mdl-cent .modal-dialog {
        width: 72% !important;
    }
    .mdl-meet .icon-error-gk {
        width: 120px;
        height: 120px;
        padding: 2px;
    }
    .mdl-prgrs .crt-list > ul.tsp > li::after {
        left: 15px;
        top: 32px;
        height: 95px;
    }
    .mdl-dpst-bkp .pst-simp.pa0 > .crt-form {
        margin-top: 24px;
        padding-top: 24px;
    }
    .dashboard-header-main .crt-navb > ul.srb.pri > li.var3 > .kndra-tab {
        display: block;
    }
    .dashboard-header-main .crt-navb .var3 .ecn.kndra-tab > .cir.ett-date {
        width: auto;
    }
    .dashboard-header-main .crt-navb .var3 .ecn.kndra-tab > .cir.ett-date > .ett-inpt.pri,
    .dashboard-header-main .crt-navb .var3 .ecn.kndra-tab > .icr > .ett-inpt.pri {
        width: 90px;
        margin-left: 12px;
        min-width: 90px;
    }
    .dashboard-header-main .crt-navb .var3 .ecn.kndra-tab > .cir.ett-date > .ett-bttn {
        right: 0px;
    }
    .dth-intmn.mrk-dth {
        max-height: calc(100vh - 175px);
    }
    .pst-simp.pa0 > .kndras-list {
        height: calc(100vh - 75px);
    }
    .pt8 {
        padding-top: 16px;
    }
    .pr24 {
        padding-right: 32px !important;
    }
    .crt-aprvd .wht.ett-para {
        margin-left: 8px;
    }
    .dashboard-header-main .crt-navb > ul > li.chat-data {
        width: 32px !important;
    }
    .pnt-head.pri .dashboard-header-main .crt-navb .var2 svg {
        margin-right: 6px;
    }
    .dashboard-header-main .crt-navb .var2 .ett-para.pri {
        line-height: 18px;
        font-size: var(--font-14);
    }
    .dashboard-header-main .crt-navb .var3 .ecn > .cir > .ett-inpt.pri {
        width: 199px;
        height: 44px;
        font-size: var(--font-18) !important;
        font-weight: var(--font-regular);
    }
    .dashboard-header-main .crt-navb .var3 .ecn > .cir.ett-date {
        width: 199px;
    }
    .dash-screen-main.dashboard_screen {
        padding-top: 60px !important;
        height: calc(100vh - 105px);
        overflow: auto;
    }
    .dash-widg-main .dash-rates.active .widget-panel,
    .ald-lists-data.crt-list > ul.tsp > li > span,
    .ald-lists-head.crt-list > ul.tsp > li > span {
        padding: 16px 12px;
    }
    .dash-rates.active .widget-panel .crt-list.loan-application-section {
        margin-top: var(--mt-16);
    }
    .dash-widg-main .dash-rates.active .widget-panel .crt-navb.tsp {
        padding-inline: 0px;
    }
    .ind-loan > .srb.pri > li > ul:last-child > li.rht .ett-para.pri {
        width: 58%;
    }
    .usr-atdnc > .srb.pri {
        display: flex;
        justify-content: end;
    }
    .map-app .ett-bttn.pri {
        height: 50px;
        font-size: 16px;
    }
    .ln-dis-lst.customer-loan .crt-list > ul.tsp > li .usr-atdnc {
        padding-left: 20px;
    }
    .mdl-prgrs.app-prgrs .crt-list > ul.tsp > li:not(:last-child)::after {
        left: 15px;
        top: 32px;
        height: 96px;
    }
    .audit-scrn.mdl-prgrs .crt-list > ul.tsp > li:not(:last-child)::after {
        left: 15px;
        top: 32px;
    }
    .loan-bg-fld {
        margin-block: 16px;
    }
    .insrnc-bg-fld {
        margin-block: 12px;
    }
    .mdl-prgrs .crt-list > ul.tsp > li > span.cntnt-rht {
        justify-content: space-around;
    }
    .mdl-cb-dtls .crt-list > ul.tsp > li:not(:last-child),
    .clm-dtls .dcsd-row > span > .srb.pri:not(:last-child),
    .mdl-cb-dtls .crt-list > ul.tsp > li:not(:last-child),
    .clm-dtls .dcsd-row > span > .srb.pri:not(:last-child) {
        margin-bottom: 16px;
    }
    .scan-txt > span > ul.eoc.srb:first-child .icon-task_alt,
    .scan-txt > span > ul.eoc.srb:first-child .icon-cancel-fill {
        width: 156px;
        height: 156px;
    }
    .qrmmbr .ett-imge {
        width: 386px;
        height: 386px;
    }
    .qrmmbr .scan-txt {
        top: 18%;
    }
    .tsks-blck .crt-list > ul.tsp > li, .tsks-lst .crt-list > ul.tsp > li {
        border-radius: 8px;
    }
    .tsks-blck .crt-list > ul.tsp > li {
        display: flex;
        align-items: center;
    }
    .mdl-amt-brkup .pst-simp.pa0 > div.clsr-amt {
        padding: 24px 12px;
    }
    .mdl-amt-brkup .pst-simp.pa0 > div.clsr-amt > ul.srb.pri:not(:last-child) {
        margin-bottom: 32px;
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .web-usr-id.usr-dtls .crt-form > .srb.pri.usr-dtls-row > span > .srb.pri.wrapped {
        // width: 100%;
    }
    .web-usr-id.usr-dtls .crt-form > .srb.pri.usr-dtls-row.new-flow-wrap > span > .srb.pri.wrapped {
        width: calc(50% - 8px);
    }
    .web-usr-mngmt {
        padding: 24px;
    }
    .fixed-foot-btn .ett-bttn {
        width: auto;
    }
    .gcb-col9.side-panel {
        width: 100%;
    }
    .gcb-col3.left-panel {
        display: none;
    }
}


















