

/*Animation*/
.animated { 
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
  }
  
  .fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }
  @keyframes fadeIn { 
    from { opacity: 0; }
    to { opacity: 1; } }
  
  
  .fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
  @-webkit-keyframes fadeInDown {
   from { opacity: 0; -webkit-transform: translate3d(0, -2em, 0); transform: translate3d(0, -2em, 0); }
    50% { -webkit-transform: translate3d(0, 0.3em, 0); transform: translate3d(0, 0.3em, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; } }
  @keyframes fadeInDown { 
    from { opacity: 0; -webkit-transform: translate3d(0, -2em, 0); transform: translate3d(0, -2em, 0); }
    50% { -webkit-transform: translate3d(0, 0.3em, 0); transform: translate3d(0, 0.3em, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; } }
  
  
  .fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
  @-webkit-keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translate3d(0, 2em, 0); transform: translate3d(0, 2em, 0); }
    50% { -webkit-transform: translate3d(0, -0.3em, 0); transform: translate3d(0, -0.3em, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; } }
  @keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translate3d(0, 2em, 0); transform: translate3d(0, 2em, 0); }
    50% { -webkit-transform: translate3d(0, -0.3em, 0); transform: translate3d(0, -0.3em, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; } }
  
   .zoomIn { -webkit-animation-name: zoomIn; animation-name: zoomIn; }
  @-webkit-keyframes zoomIn { 
    from { opacity: 0; -webkit-transform: scale3d(0.95, 0.95, 0.95); transform: scale3d(0.95, 0.95, 0.95); }
    60% { opacity: 1; -webkit-transform: scale3d(1.01, 1.01, 1.01); transform: scale3d(1.01, 1.01, 1.01); } }
  @keyframes zoomIn { 
    from { opacity: 0; -webkit-transform: scale3d(0.95, 0.95, 0.95); transform: scale3d(0.95, 0.95, 0.95); }
    60% { opacity: 1; -webkit-transform: scale3d(1.015, 1.01, 1.01); transform: scale3d(1.01, 1.01, 1.01); } }
    /*Animation End*/
