
.ett-date{ }


.actdate{background-color: #0074a6;color: #fff;}
td.actdate > a{color: #fff;}
/* date range css end */

.ui-datepicker {width: 100%;max-width: 23em;background-color: #fff;border: 1px solid #b2b2b2;border-radius: 5px;margin-top: 2px; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176)}
.ui-datepicker.is-above {margin-top: -2px;}
.ui-datepicker-title {text-align: center;}
.ui-datepicker-calendar {width: calc(100.5%);margin-left: -1px;}
.ui-datepicker-calendar th{border: 1px solid #ccc;text-align: center;width: 14.286%;}
.ui-datepicker-calendar td {border: 1px solid #ccc;text-align: center;width: 14.286%;}
.ui-datepicker-calendar th {border-color: #006b9f;border-left-color: #a1c5d5;border-right-color: #a1c5d5;border-bottom-width: 2px;
	background-color: #c8ecfb;padding: .4em 0;font-weight: normal;text-transform: uppercase;font-size: 12px;}
.ui-datepicker-calendar a{font-size: 16px;text-decoration: none;padding: .3em 0;color: #000;}
span.ui-state-default {font-size: 18px;text-decoration: none;padding: .5em 0;color: #000;}
span.ui-state-default {background-color: #eee;color: #ccc;}
.ui-datepicker-calendar a:hover{background-color: #f2f8fa;color: #0075a6;}
.ui-datepicker-calendar a:focus{background-color: #f2f8fa;color: #0075a6;}
.ui-datepicker-calendar a.ui-state-hover {background-color: #f2f8fa;color: #0075a6;}
.ui-datepicker-calendar a.ui-state-active {background-color: #00395d;color: #fff;}
.ui-datepicker-calendar tr:last-child td {border-bottom: none;}
.ui-datepicker-calendar tr:last-child td:first-child {border-bottom-left-radius: 10px;}
a.ui-priority-secondary {color: #ddd;background-color: #fafafa;}
.ui-datepicker-header {padding: 0.714em;height: 4em;}
.ui-datepicker-header a {height: 2.571em;width: 3.571em;width: 2.571em;background-color: #f5f5f5;border: 1px solid #b2b2b2;
	border-radius: 5px;background-repeat: no-repeat;background-position: center center;}
.ui-datepicker-header a:hover {border-color: #0075a6;}
.ui-datepicker-title select {background-color: #FFF;padding-left: 0.857em;padding-right: 3.428em ;margin: 0 0.357em;border: none;                 background-color: transparent;color: #0075a6;border: 1px solid #b2b2b2;border-radius: 5px;height: 2.572em;outline: 0;
    background-repeat: no-repeat;
    background-position: 90%;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22icons%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%7D.cls-2%7Bclip-path%3Aurl%28%23clip-path%29%7D.cls-3%7Bfill%3A%230074a6%7D%3C/style%3E%3CclipPath%20id%3D%22clip-path%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%206.42h24v13.33H0z%22/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3EIcons%3C/title%3E%3Cpath%20class%3D%22cls-2%20cls-3%22%20d%3D%22M12.94%2019.36L23.61%208.69a1.33%201.33%200%200%200-1.88-1.88L12%2016.54%202.27%206.81A1.33%201.33%200%201%200%20.39%208.69l10.67%2010.67a1.33%201.33%200%200%200%201.88%200%22/%3E%3C/svg%3E');
     
    background-size:18%;
}
.ui-datepicker-title select:focus {background-color: #f2f8fa;border-color: #0075a6;}
.ui-datepicker-next {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%230074a6%22%20d%3D%22M10.547%206.452L4.32.226C4.184.1%204%20.02%203.796.02c-.428%200-.775.347-.775.775%200%20.203.078.388.206.526L8.902%207l-5.677%205.678c-.152.142-.247.343-.247.567%200%20.428.347.774.774.774.224%200%20.425-.096.567-.248l6.225-6.226c.14-.14.227-.334.227-.547s-.087-.408-.227-.548z%22/%3E%3C/svg%3E');
}
.ui-datepicker-prev {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%20%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%207%2014%22%3E%3Cpath%20d%3D%22M.227%207.548l6.225%206.225c.303.303.793.303%201.095%200%20.303-.302.303-.794%200-1.096L1.87%207l5.677-5.678c.303-.302.303-.792%200-1.095-.302-.302-.792-.302-1.095%200L.227%206.453c-.303.302-.303.792%200%201.095%22%20fill%3D%22%230074A6%22%20/%3E%3C/svg%3E');
}

/* for datepicker select appearance */

select::-ms-expand {display: none;}

/* Datepicker css end */
/*Event Calendar*/
@media screen and (max-width: 567px) { .ui-datepicker-buttonpane { display: block; }
  .ui-datepicker { position: fixed !important; width: 100%; border: none; border-top: 1px solid #ccc; border-radius: 0; top: auto !important; right: 0 !important; bottom: 0 !important; left: 0 !important; overflow: hidden; -webkit-box-shadow: 0 -300px 0px rgba(0, 0, 0, 0.1); box-shadow: 0 -300px 0px rgba(0, 0, 0, 0.1); }
  .ui-datepicker-header { padding-top: 4em; }
  .ui-datepicker-calendar tr:last-child td { border-bottom: 1px solid #ccc; } }
@media screen and (max-width: 567px) { .EventCalendar.ui-datepicker .ui-datepicker-header { padding-top: 0.714em; }
  .EventCalendar .ui-datepicker .ui-datepicker-header a { position: relative; top: 0; font-size: 1em; }
  .EventCalendar .ui-datepicker .ui-datepicker-header a.ui-datepicker-prev { left: 0; }
  .EventCalendar .ui-datepicker .ui-datepicker-header a.ui-datepicker-next { right: 0; } }
  
.EventCalendar .ui-datepicker {
        max-width: 24em; margin: 0 auto; margin-bottom: 0px; border: none; background-color: transparent; -webkit-box-shadow: none; box-shadow: none; position: relative; overflow: visible; margin-bottom: 1.125em;  position: relative !important;}
      .EventCalendar .ui-datepicker .ui-datepicker-header {color: #0076b6;}
      .EventCalendar .ui-datepicker .ui-datepicker-header a.ui-datepicker-prev {left: -5em;}
      .EventCalendar .ui-datepicker .ui-datepicker-header a {
        /*background-image: none;*/border: 1px solid #0076b6;background-color: #fff; border-radius: 50em; position: absolute; top: 6.5625em; font-size: 1.25em; width: 2.5em; height: 2.5em;}
      .EventCalendar .ui-datepicker .ui-datepicker-header a {font-size: 1.25em; }
      .EventCalendar .ui-datepicker .ui-datepicker-header a::after { 
        content: ''; position: absolute; left: 50%; top: 50%;transform: translate(-50%, -50%); width: 1em; height: 1em; background-size: 1em; }
      .EventCalendar .ui-datepicker .ui-datepicker-calendar { width: 100%; margin-left: 0; }
      .EventCalendar .ui-datepicker .ui-datepicker-calendar th, 
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td { border: none; background-color: transparent; padding: 0.1875em 0; }
      .EventCalendar .ui-datepicker .ui-datepicker-calendar th {font-weight: 700; height: 2.25em;  font-size: 1em; }
      .EventCalendar .ui-datepicker .ui-datepicker-calendar th a, 
      .EventCalendar  .ui-datepicker .ui-datepicker-calendar th span, 
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td a, 
      .EventCalendar  .ui-datepicker .ui-datepicker-calendar td span {
       height: 2.125em; width: 2.125em; margin: 0 auto; border-radius: 50em;  padding: 0.4375em; border: 1px solid transparent;  position: relative;}
      .EventCalendar .ui-datepicker .ui-datepicker-calendar span.ui-state-default { 
        color: #333; background-color: transparent; cursor: default;}
      .EventCalendar .ui-datepicker .ui-datepicker-header a.ui-datepicker-next { right: -5em;}
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-pastDate a, 
      .u-dateCalendarView .ui-datepicker .ui-datepicker-calendar td.u-futureDate a { background-color: #c8ebf9;}
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-pastDate a.ui-state-active, 
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-pastDate a.ui-state-active.ui-state-hover, 
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-futureDate a.ui-state-active, 
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-futureDate a.ui-state-active.ui-state-hover {
    color: #fff; background-color: #0076b6; border-color: transparent; }
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-pastErrorDate a,
      .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-futureErrorDate a {
    background-color: #faeaea;  border-color: #c33;}
      .EventCalendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today span::after,
      .EventCalendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a::after {
    content: ''; position: absolute; width: 0.75em; height: 0.3125em; bottom: 0.375em; left: 50%; transform: translateX(-50%); border-bottom: 1px solid #333;}
    .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-pastErrorDate a.ui-state-active,
    .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-pastErrorDate a.ui-state-active.ui-state-hover,
    .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-futureErrorDate a.ui-state-active, 
    .EventCalendar .ui-datepicker .ui-datepicker-calendar td.u-futureErrorDate a.ui-state-active.ui-state-hover { color: #fff; background-color: #c33; border-color: transparent;}
    /*Event Calendar End*/
