

@media (max-width: 640px) {
    .hide-s {display: none !important;}
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .hide-m {display: none !important;}
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .hide-l {display: none !important;}
  }
  
  @media (min-width: 1200px) {
    .hide-xl {display: none !important;}
  }
