@use "../Abstract" as a;

.mdl-dlg.srb {
	padding-top: 100px;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	outline: 0;
}
.modal-open .mdl-dlg {
	overflow-x: hidden;
	overflow-y: auto;
}


