@use "../Abstract" as a;


.ett-chek {
	&.hor {
		.clb {
			padding: 0 6px;
		}
		> span {
			margin: 0 2em 0 0;
		}
		&.pri {
			> span {
				margin: 0 2em 0 0;
			}
			input[type="checkbox"] {
				width: 1px;
				border: 0;
				width: 28px;
				margin: 0;
				padding: 0;
				+ label {
					background-repeat: no-repeat;
					color: #333;
					padding: 0;
					margin-left: -36px;
					line-height: 16px;
					color: a.$check-hor-pri-grp;
					margin: 5px 0;
					&:before {
						background-color: #fff;
						border: 1px solid #b2b2b2;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
						height: 1.414em;
						margin-right: 0.414em;
						width: 1.414em;
						border-radius: 0.357em;
					}
					&:hover:before {
						background-color: #f2f8fa;
						border-color: a.$checkbox-hor-pri-hov-bor;
						box-shadow: none;
					}
				}
				&:checked {
					+ label::before {
						background-image: a.$check-hor-pri-bgimg;
					}
					+ label:before {
						background-repeat: no-repeat;
						background-position: center center;
						background-size: 1em;
					}
				}
				+ label::before {
					background-color: a.$check-hor-pri-bg;
					border: 1px solid #999;
					box-shadow: none;
					height: 1.714em;
					margin-right: 0.714em;
					width: 1.714em;
				}
				&:focus + label:before {
					background-color: #f2f8fa;
					border-color: a.$checkbox-hor-pri-hov-bor;
					box-shadow: none;
				}
				&.error + label:before {
					border-color: #cc3333;
				}
				&:indeterminate + label::before {
					background-color: #6690a2;
					border: 2px solid #999;
				}
			}
			input[type="checkbox"][disabled] {
				+ label {
					color: #acacac;
					&:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
					&:hover:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
				}
				&:focus + label:before {
					background-color: #f7f7f7;
					border-color: #d9d9d9;
					box-shadow: none;
				}
				&:checked + label {
					background-position: 0 -72px;
				}
			}
		}
		input[type="checkbox"] {
			+ label {
				&.err::before {
					border-color: #cc3333;
				}
				&.err:hover:before {
					background-color: #f2f8fa;
					border-color: #cc3333;
					box-shadow: none;
				}
			}
			&:checked {
				+ label {
					&.err::before {
						background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%22-3%201158%2014%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M-1.72%201164.02L-3%201165.3l2.976%202.976c.195.192.463.312.76.312.295%200%20.563-.12.757-.314v.002l8.998-8.998L9.213%201158l-8.477%208.476-2.455-2.455z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E");
						background-color: #cc3333;
					}
					&.err:hover:before {
						background-color: #cc3333;
						border-color: #cc3333;
						box-shadow: none;
					}
				}
				&:focus + label.err:before {
					background-color: #cc3333;
					border-color: #cc3333;
					box-shadow: none;
				}
			}
			&:focus + label.err:before {
				background-color: #f2f8fa;
				border-color: #cc3333;
				box-shadow: none;
			}
		}
		&.sec {
			> span {
				margin: 0 2em 0 0;
			}
			input[type="checkbox"] {
				width: 1px;
				border: 0;
				width: 28px;
				margin: 0;
				padding: 0;
				+ label {
					background-repeat: no-repeat;
					color: #333;
					padding: 0;
					margin-left: -36px;
					line-height: 16px;
					color: #111;
					margin: 5px 0;
					background-position: 0 0;
					&:before {
						background-color: #fff;
						border: 1px solid #b2b2b2;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
						height: 1.414em;
						margin-right: 0.414em;
						width: 1.414em;
						border-radius: 0.357em;
					}
					&:hover:before {
						background-color: #e7f9f0;
						border-color: #10cfbd;
						box-shadow: none;
					}
				}
				&:checked {
					+ label {
						background-position: 0 -48px;
						&:before {
							background-repeat: no-repeat;
							background-position: center center;
							background-size: 1em;
						}
					}
					+ label::before {
						background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 18 18;' viewBox='0 0 18 18' y='0px' x='0px' id='Layer_1' version='1.1'%3E%3Cmetadata id='metadata11'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs9' /%3E%3Cg style='fill:%230CC27E' transform='translate%280.24576271,0.15254237%29' id='g3'%3E%3Cpolygon style='fill:%230CC27E' id='polygon5' points='6.3,12 2.5,8.2 1,9.7 6.2,15 6.2,15 6.2,15 17,4.4 15.5,3 ' /%3E%3C/g%3E%3C/svg%3E");
					}
				}
				+ label::before {
					background-color: #fff;
					border: 2px solid #0cc27e;
					box-shadow: none;
					height: 1.714em;
					margin-right: 0.714em;
					width: 1.714em;
				}
				&:focus + label:before {
					background-color: #e7f9f0;
					border-color: #10cfbd;
					box-shadow: none;
				}
				&.error + label:before {
					border-color: #cc3333;
				}
				&:indeterminate + label::before {
					background-color: #7eb19e;
					border: 2px solid #999;
				}
			}
			input[type="checkbox"][disabled] {
				+ label {
					color: #acacac;
					background-position: 0 -24px;
					&:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
					&:hover:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
				}
				&:focus + label:before {
					background-color: #f7f7f7;
					border-color: #d9d9d9;
					box-shadow: none;
				}
				&:checked + label {
					background-position: 0 -72px;
				}
			}
		}
		&.ter {
			> span {
				margin: 0 2em 0 0;
			}
			input[type="checkbox"] {
				width: 1px;
				border: 0;
				width: 28px;
				margin: 0;
				padding: 0;
				+ label {
					background-repeat: no-repeat;
					color: #333;
					padding: 0;
					margin-left: -36px;
					line-height: 16px;
					color: #111;
					margin: 5px 0;
					background-position: 0 0;
					&:before {
						background-color: #fff;
						border: 1px solid #b2b2b2;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
						height: 1.414em;
						margin-right: 0.414em;
						width: 1.414em;
						border-radius: 0.357em;
					}
					&:hover:before {
						background-color: #f2f8fa;
						border-color: #0693ea;
						box-shadow: none;
					}
				}
				&:checked {
					+ label {
						background-position: 0 -48px;
						&:before {
							background-repeat: no-repeat;
							background-position: center center;
							background-size: 1em;
						}
					}
					+ label::before {
						background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 18 18;' viewBox='0 0 18 18' y='0px' x='0px' id='Layer_1' version='1.1'%3E%3Cmetadata id='metadata13'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs11' /%3E%3Cstyle id='style3' type='text/css'%3E .st0%7Bfill:%230693EA;%7D%0A%3C/style%3E%3Cg style='fill:%230693EA' id='g5'%3E%3Cpath style='fill:%230693EA' id='path7' d='M15.7,18H2.3C1,18,0,17,0,15.7V2.3C0,1,1,0,2.3,0h13.3C17,0,18,1,18,2.3v13.3C18,17,17,18,15.7,18z' class='st0' /%3E%3C/g%3E%3C/svg%3E");
					}
				}
				+ label::before {
					background-color: #fff;
					border: 1px solid #999;
					box-shadow: none;
					height: 1.714em;
					margin-right: 0.714em;
					width: 1.714em;
				}
				&:focus + label:before {
					background-color: #f2f8fa;
					border-color: #0693ea;
					box-shadow: none;
				}
				&.error + label:before {
					border-color: #cc3333;
				}
				&:indeterminate + label::before {
					background-color: #5d89a4;
					border: 2px solid #999;
				}
			}
			input[type="checkbox"][disabled] {
				+ label {
					color: #acacac;
					background-position: 0 -24px;
					&:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
					&:hover:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
				}
				&:focus + label:before {
					background-color: #f7f7f7;
					border-color: #d9d9d9;
					box-shadow: none;
				}
				&:checked + label {
					background-position: 0 -72px;
				}
			}
		}
	}
	&.ver {
		.clb {
			padding: 0 6px;
		}
		> span {
			margin: 0 2em 0 0;
			width: 100%;
			clear: both;
			display: inline-block;
		}
		span {
			&.rlb {
				padding: 0 6px;
				font-size: 13px;
				line-height: 13px;
			}
			&.htx {
				padding-left: 2.5em;
			}
		}
		&.pri {
			> span {
				margin: 0 2em 0 0;
			}
			input[type="checkbox"] {
				width: 1px;
				border: 0;
				width: 28px;
				margin: 0;
				padding: 0;
				+ label {
					background-repeat: no-repeat;
					color: #333;
					padding: 0;
					margin-left: -36px;
					line-height: 16px;
					color: a.$check-ver-pri-grp;
					margin: 5px 0;
					&:before {
						background-color: #fff;
						border: 1px solid #b2b2b2;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
						height: 1.414em;
						margin-right: 0.414em;
						width: 1.414em;
						border-radius: 0.357em;
					}
					&:hover:before {
						background-color: #f2f8fa;
						border-color: a.$checkbox-ver-pri-hov-bor;
						box-shadow: none;
					}
				}
				&:checked {
					+ label::before {
						background-image: a.$check-ver-pri-bgimg;
					}
					+ label:before {
						background-repeat: no-repeat;
						background-position: center center;
						background-size: 1em;
					}
				}
				+ label::before {
					background-color: a.$check-ver-pri-bg;
					border: 1px solid #999;
					box-shadow: none;
					height: 1.714em;
					margin-right: 0.714em;
					width: 1.714em;
				}
				&:focus + label:before {
					background-color: #f2f8fa;
					border-color: a.$checkbox-ver-pri-hov-bor;
					box-shadow: none;
				}
				&.error + label:before {
					border-color: #cc3333;
				}
				&:indeterminate + label::before {
					background-color: #6690a2;
					border: 2px solid #999;
				}
			}
			input[type="checkbox"][disabled] {
				+ label {
					color: #acacac;
					&:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
					&:hover:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
				}
				&:focus + label:before {
					background-color: #f7f7f7;
					border-color: #d9d9d9;
					box-shadow: none;
				}
				&:checked + label {
					background-position: 0 -72px;
				}
			}
		}
		input[type="checkbox"] {
			+ label {
				&.err::before {
					border-color: #cc3333;
				}
				&.err:hover:before {
					background-color: #f2f8fa;
					border-color: #cc3333;
					box-shadow: none;
				}
			}
			&:checked {
				+ label {
					&.err::before {
						background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2214%22%20viewBox%3D%220%200%2019.6%2014%22%3E%3Cpath%20d%3D%22M7.6%2012.3L1.1%207.2c-.3-.3-.7-.2-.9.1-.3.3-.2.7.1.9l7%205.6c.1.1.2.2.4.2s.4-.1.5-.2L19.4%201.2c.3-.3.2-.7-.1-1-.3-.3-.7-.2-1%20.1l-10.7%2012z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E");
						background-color: #cc3333;
					}
					&.err:hover:before {
						background-color: #cc3333;
						border-color: #cc3333;
						box-shadow: none;
					}
				}
				&:focus + label.err:before {
					background-color: #cc3333;
					border-color: #cc3333;
					box-shadow: none;
				}
			}
			&:focus + label.err:before {
				background-color: #f2f8fa;
				border-color: #cc3333;
				box-shadow: none;
			}
		}
		&.sec {
			> span {
				margin: 0 2em 0 0;
			}
			input[type="checkbox"] {
				width: 1px;
				border: 0;
				width: 28px;
				margin: 0;
				padding: 0;
				+ label {
					background-repeat: no-repeat;
					color: #333;
					padding: 0;
					margin-left: -36px;
					line-height: 16px;
					color: #111;
					margin: 5px 0;
					&:before {
						background-color: #fff;
						border: 1px solid #b2b2b2;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
						height: 1.414em;
						margin-right: 0.414em;
						width: 1.414em;
						border-radius: 0.357em;
					}
					&:hover:before {
						background-color: #f2f8fa;
						border-color: #10cfbd;
						box-shadow: none;
					}
				}
				&:checked {
					+ label::before {
						background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%22-3%201158%2014%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M-1.72%201164.02L-3%201165.3l2.976%202.976c.195.192.463.312.76.312.295%200%20.563-.12.757-.314v.002l8.998-8.998L9.213%201158l-8.477%208.476-2.455-2.455z%22%20fill%3D%22%2310cfbd%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E");
					}
					+ label:before {
						background-repeat: no-repeat;
						background-position: center center;
						background-size: 1em;
					}
				}
				+ label::before {
					background-color: #fff;
					border: 2px solid #0cc27e;
					box-shadow: none;
					height: 1.714em;
					margin-right: 0.714em;
					width: 1.714em;
				}
				&:focus + label:before {
					background-color: #f2f8fa;
					border-color: #10cfbd;
					box-shadow: none;
				}
				&.error + label:before {
					border-color: #cc3333;
				}
				&:indeterminate + label::before {
					background-color: #7eb19e;
					border: 2px solid #999;
				}
			}
			input[type="checkbox"][disabled] {
				+ label {
					color: #acacac;
					&:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
					&:hover:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
				}
				&:focus + label:before {
					background-color: #f7f7f7;
					border-color: #d9d9d9;
					box-shadow: none;
				}
				&:checked + label {
					background-position: 0 -72px;
				}
			}
		}
		&.ter {
			> span {
				margin: 0 2em 0 0;
			}
			input[type="checkbox"] {
				width: 1px;
				border: 0;
				width: 28px;
				margin: 0;
				padding: 0;
				+ label {
					background-repeat: no-repeat;
					color: #333;
					padding: 0;
					margin-left: -36px;
					line-height: 16px;
					color: #111;
					margin: 5px 0;
					background-position: 0 0;
					&:before {
						background-color: #fff;
						border: 1px solid #b2b2b2;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
						height: 1.414em;
						margin-right: 0.414em;
						width: 1.414em;
						border-radius: 0.357em;
					}
					&:hover:before {
						background-color: #f2f8fa;
						border-color: #0693ea;
						box-shadow: none;
					}
				}
				&:checked {
					+ label {
						background-position: 0 -48px;
						&:before {
							background-repeat: no-repeat;
							background-position: center center;
							background-size: 1em;
						}
					}
					+ label::before {
						background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 18 18;' viewBox='0 0 18 18' y='0px' x='0px' id='Layer_1' version='1.1'%3E%3Cmetadata id='metadata13'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs11' /%3E%3Cstyle id='style3' type='text/css'%3E .st0%7Bfill:%230693EA;%7D%0A%3C/style%3E%3Cg style='fill:%230693EA' id='g5'%3E%3Cpath style='fill:%230693EA' id='path7' d='M15.7,18H2.3C1,18,0,17,0,15.7V2.3C0,1,1,0,2.3,0h13.3C17,0,18,1,18,2.3v13.3C18,17,17,18,15.7,18z' class='st0' /%3E%3C/g%3E%3C/svg%3E");
					}
				}
				+ label::before {
					background-color: #fff;
					border: 1px solid #999;
					box-shadow: none;
					height: 1.714em;
					margin-right: 0.714em;
					width: 1.714em;
				}
				&:focus + label:before {
					background-color: #f2f8fa;
					border-color: #0693ea;
					box-shadow: none;
				}
				&.error + label:before {
					border-color: #cc3333;
				}
				&:indeterminate + label::before {
					background-color: #5d89a4;
					border: 2px solid #999;
				}
			}
			input[type="checkbox"][disabled] {
				+ label {
					color: #acacac;
					background-position: 0 -24px;
					&:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
					&:hover:before {
						background-color: #f7f7f7;
						border-color: #d9d9d9;
						box-shadow: none;
					}
				}
				&:focus + label:before {
					background-color: #f7f7f7;
					border-color: #d9d9d9;
					box-shadow: none;
				}
				&:checked + label {
					background-position: 0 -72px;
				}
			}
		}
		.eoc input[type="checkbox"] {
			width: auto;
		}
	}
}
.ett-bttn.tsp.sml.lbtn {
	padding: 0;
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0.5em;
}
