@use "../Abstract" as a;


.ett-prgs {
	position: relative;
	display: block;
	overflow: hidden;
	.determinate {
		position: absolute;
		top: 0;
		bottom: 0;
		transition: width .3s linear;
	}
	.indeterminate {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			will-change: left, right;
			animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			will-change: left, right;
			animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			animation-delay: 1.15s;
		}
	}
	&.pri {
		height: 4px;
		width: 100%;
		background-color: a.$prgs-bg-def;
		border-radius: 2px;
		background-clip: padding-box;
		margin: 0.5rem 0 1rem 0;
		.determinate {
			background-color: inherit;
			background-color: a.$prgs-intd-pri;
		}
		.indeterminate {
			background-color: a.$prgs-intd-pri;
			&:before {
				background-color: inherit;
			}
			&:after {
				background-color: inherit;
			}
		}
	}
	&.sec {
		height: 4px;
		width: 100%;
		background-color: a.$prgs-bg-def;
		border-radius: 2px;
		background-clip: padding-box;
		margin: 0.5rem 0 1rem 0;
		.determinate {
			background-color: inherit;
			background-color: a.$prgs-intd-ter;
		}
		.indeterminate {
			background-color: a.$prgs-intd-ter;
			&:before {
				background-color: inherit;
			}
			&:after {
				background-color: inherit;
			}
		}
	}
	&.ter {
		height: 4px;
		width: 100%;
		background-color: a.$prgs-bg-def;
		border-radius: 2px;
		background-clip: padding-box;
		margin: 0.5rem 0 1rem 0;
		.determinate {
			background-color: inherit;
			background-color: a.$prgs-intd-sec;
		}
		.indeterminate {
			background-color: a.$prgs-intd-sec;
			&:before {
				background-color: inherit;
			}
			&:after {
				background-color: inherit;
			}
		}
	}

}
@-webkit-keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}
@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}
.ett-prgn > progress {
	display: block;
	width: 100%;
}
/* progressbar end */
