@use "../Abstract" as a;

.ett-sept {
	&.pri {
		height: 1px;
		width: 100%;
		border: none;
		background-color: #d9d9d9;
		margin: 1.875em 0;
	}
	&.sec {
		height: 1.5px;
		width: 100%;
		border: none;
		background-color: #00a2a5;
		margin: 1.875em 0;
	}
	&.ter {
		height: 2px;
		width: 100%;
		border: none;
		background-color: #00395d;
		margin: 1.875em 0;
	}
}
.ett-sett {
	&.pri {
		text-align: center;
		border-bottom: 1px solid #d9d9d9;
		height: 1px;
		margin: 1.75em 0;
		span {
			background-color: #fff;
			padding: 0 0.625em;
			position: relative;
			top: -0.5625em;
		}
	}
	&.sec {
		text-align: center;
		border-bottom: 1.5px solid #00a2a5;
		height: 1.5px;
		margin: 1.75em 0;
		span {
			background-color: #fff;
			padding: 0 0.625em;
			position: relative;
			top: -0.5625em;
			color: #00a2a5;
		}
	}
	&.ter {
		text-align: center;
		border-bottom: 2px solid #00395d;
		height: 2px;
		margin: 1.75em 0;
		span {
			background-color: #fff;
			padding: 0 0.625em;
			position: relative;
			top: -0.5625em;
			color: #00395d;
		}
	}
}
/* seperator end*/
